@charset "utf-8";
*{
	padding:0;
	margin:0;
}
body{
	font-weight: normal;
    color: #404040;
    min-height: 100%;
    overflow-x: hidden;
    background: #edf0f2;
}
.wrap{
}
.menu-fixed{
	width: 250px;
	background: #343131;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}
.menu-unfixed{
	width: 250px;
	background: #343131;
	padding-right: 1050px;
}
.menu-top{
	background: #2980B9;
	width:226px;
	height: 100px;
	padding: 25px 12px;
}
.my-img{
	width: 30px;
	height: 30px;
	margin-right: 20px;
	border-radius: 10%;
}
.my-name{
	line-height: 30px;
	font-size: 25px;
	color: #fcfcfc;
}
.menu-center{
	padding: 15px 0;
}
#menu ul{
	list-style: none;
}
#menu li{
	text-align: center;
	font-size: 14px;
	color: #d9d9d9;
	width: 204px;
	padding: 6px 23px;
}
.contain-unfixed{
	width: 750px;
	padding: 25px 150px 25px 400px;
	background: #fcfcfc;
}
.contain-fixed{
	width: 750px;
	padding: 25px 150px 25px 150px;
	background: #fcfcfc;
	position: fixed;
	top: 0;
	left: 250px;
	z-index: 200;
}
#contain p{
	font-size:16px;
}
.row-in{
	display: flex;
	flex-direction: row;
}
.column-in{
	display: flex;
	flex-direction: column;
}
.space-around{
	justify-content: space-around;
}
.space-between{
	justify-content: space-between;
}
.space-center{
	justify-content: center;
}